@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sarpanch:900");
/* Color */
:root {
  --nav-bg: transparent;
  --logo: #fff;
  --nav-link-color: #fff;
  --nav-link-line: #fff;
  --nav-button: #fff;
}

/* Dark Color */
body.dark-color {
  --nav-bg: #fff;
  --logo: #000;
  --nav-link-color: #000;
  --nav-link-line: #000;
  --nav-button: #000;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  outline: 0;
  border: 0;
}

input {
  outline: none;
  border: none;
}

body::-webkit-scrollbar {
  display: none;
}

::-moz-selection {
  background-color: #654EA3;
  color: #fff;
}

::selection {
  background-color: #654EA3;
  color: #fff;
}

section {
  width: 100%;
  padding: 0 100px;
  margin: 0 auto;
}

/*========== NAV ==========*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 100px;
  z-index: 1000;
  -webkit-transition: 0.5s, opacity 0.5s;
  transition: 0.5s, opacity 0.5s;
}

header.sticky {
  background: var(--nav-bg);
}

.logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  color: var(--logo);
  cursor: pointer;
  font-size: 23px;
  font-weight: 700;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  position: relative;
  font-size: .9rem;
  letter-spacing: 0.12rem;
  text-transform: uppercase;
  margin: 0.5em 1em;
  padding-bottom: 1px;
  color: var(--nav-link-color);
  font-weight: 300;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.nav__link::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.5px;
  background: var(--nav-link-line);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.nav__link:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

/* Nave menu button */
.menu-btn {
  position: relative;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.5rem;
  cursor: pointer;
  z-index: 1;
}

.menu-btn__lines, .menu-btn__lines::after, .menu-btn__lines::before {
  width: 1.5rem;
  height: 0.1rem;
  background-color: var(--nav-button);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__lines::after, .menu-btn__lines::before {
  content: "";
  position: absolute;
}

.menu-btn__lines::before {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.menu-btn__lines::after {
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
}

.menu-btn.open .menu-btn__lines {
  -webkit-transform: translateX(2rem);
          transform: translateX(2rem);
  background-color: transparent;
}

.menu-btn.open .menu-btn__lines::before {
  -webkit-transform: rotate(45deg) translate(-1.5rem, 1.5rem);
          transform: rotate(45deg) translate(-1.5rem, 1.5rem);
  background-color: #000;
}

.menu-btn.open .menu-btn__lines::after {
  -webkit-transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
          transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
  background-color: #000;
}

/*========== INDEX ==========*/
.index {
  min-height: 100vh;
  position: relative;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #111;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#00f), to(#f00));
  background: linear-gradient(to left, #00f, #f00);
  mix-blend-mode: overlay;
  opacity: 50%;
}

.main-text {
  position: relative;
  z-index: 10;
}

.main-text__title {
  font-size: 6em;
  font-weight: 900;
  color: #fff;
  line-height: 1em;
}

.main-text__sub {
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

.main-text__desc {
  position: relative;
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 300;
  max-width: 700px;
  color: #fff;
}

.main-text__button {
  width: 200px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 10px;
  height: 55px;
  text-align: center;
  background-size: 200% 100%;
  border-radius: 50px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-image: -webkit-gradient(linear, left top, right top, from(#654EA3), color-stop(#904EA3), color-stop(#A34E8C), to(#A34E62));
  background-image: linear-gradient(to right, #654EA3, #904EA3, #A34E8C, #A34E62);
}

.main-text__button:hover {
  background-position: 100% 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.main-text__button:focus {
  outline: none;
}

.main-text__button a {
  color: #fff;
  padding: 10px;
}

.sci {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sci__icon {
  display: inline-block;
  color: #fff;
  margin-right: 20px;
  font-size: 1.3em;
}

.sci__icon:hover {
  color: #654EA3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/*========== ABOUT ==========*/
.about-content1 {
  min-height: 100vh;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-container {
  position: relative;
  max-width: 100%;
  height: 250px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pr-card {
  position: relative;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  width: 200px;
  height: 200px;
  background: #A34E62;
  background-size: cover;
  overflow: hidden;
  text-align: center;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.pr-card.color1 {
  background: #8CA34E;
}

.pr-card.color2 {
  background: #4EA38F;
}

.pr-card__img {
  border-radius: 50%;
  margin: 20px auto;
  display: block;
  width: 160px;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}

.pr-card__name {
  position: relative;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  display: inline-block;
}

.pr-card__desc {
  color: #fff;
  font-size: 14px;
  font-weight: normal;
}

.profile-container .pr-card:hover {
  border-radius: 5px;
  width: 300px;
  height: 300px;
}

.about-content2 {
  width: 100%;
  min-height: 100vh;
  background: url(../img/home.jpg) no-repeat center center fixed;
  background-size: cover;
}

.about-content2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.white {
  color: #fff;
}

.info-video {
  position: relative;
  max-width: 640px;
  height: 360px;
  margin: 0 auto;
}

.info-video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/*========== LOGIN ==========*/
.login {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#654EA3), to(#3d88a7));
  background: linear-gradient(to bottom, #654EA3, #3d88a7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-header {
  position: relative;
  width: 100%;
  padding: 0;
}

.back-btn {
  display: none;
  position: relative;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
}

.back-btn::after, .back-btn::before {
  position: absolute;
  content: "";
  width: 1.5rem;
  height: 0.1rem;
  background-color: #fff;
}

.back-btn::after {
  -webkit-transform: rotate(-45deg) scale(0.7, 1);
          transform: rotate(-45deg) scale(0.7, 1);
  top: 5.5px;
}

.back-btn::before {
  -webkit-transform: rotate(45deg) scale(0.7, 1);
          transform: rotate(45deg) scale(0.7, 1);
  bottom: 5.5px;
}

.login-container {
  max-width: 450px;
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
  padding: 70px 50px 30px;
}

.login-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.login-form-title {
  width: 100%;
  font-size: 30px;
  color: #000;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 50px;
}

.input-wrap {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 15px;
}

.input-wrap__input {
  display: block;
  font-size: 18px;
  color: #686868;
  background: #e6e6e6;
  width: 100%;
  height: 62px;
  padding: 0 30px 0 65px;
  border-radius: 3px;
}

.input-wrap__symbol {
  position: absolute;
  font-size: 24px;
  color: #686868;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 23px;
  bottom: 0;
  left: 0;
  pointer-events: none;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.input-wrap__focus {
  display: block;
  position: absolute;
  border-radius: 3px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  color: rgba(107, 92, 151, 0.6);
}

.input-wrap__input:focus + .input-wrap__focus {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
          animation: anim-shadow 0.5s ease-in-out forwards;
}

.input-wrap__input:focus + .input-wrap__focus + .input-wrap__symbol {
  color: #654EA3;
  padding-left: 18px;
}

@-webkit-keyframes anim-shadow {
  to {
    -webkit-box-shadow: 0px 0px 60px 20px;
            box-shadow: 0px 0px 60px 20px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    -webkit-box-shadow: 0px 0px 60px 20px;
            box-shadow: 0px 0px 60px 20px;
    opacity: 0;
  }
}

.login-form-btn {
  width: 100%;
  height: 62px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  border-radius: 3px;
  background: #654EA3;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.login-form-btn:hover {
  cursor: pointer;
  background: #58575c;
}

.login-form-desc {
  width: 100%;
  padding: 30px 0 20px;
  color: #999;
  text-align: center;
}

.login-form-desc span {
  border-bottom: 1px solid #999;
}

/*========== 2018 ==========*/
.header {
  position: relative;
  height: 50vh;
  margin-top: 80px;
  min-height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  font-size: 4em;
  font-weight: 900;
  margin-bottom: 30px;
}

.header__desc {
  font-size: 1.25rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 5px;
}

.gallery {
  padding-bottom: 30px;
}

.gallery-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
}

.card-wrapper {
  position: relative;
  min-height: 300px;
  overflow: hidden;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
  background-image: var(--image-src);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-wrapper::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#000));
  background: linear-gradient(to bottom, transparent, #000);
  opacity: 60%;
}

.card-wrapper:hover .card {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  z-index: 10;
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.content {
  padding: 1em;
  position: relative;
  z-index: 1;
}

.content__name {
  font-size: 12px;
}

.content__title {
  margin-top: 10px;
  color: #fff;
  font-weight: 400;
}

.content__desc {
  height: 50px;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .gallery {
    padding-bottom: 100px;
  }
  .gallery-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .gallery-container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  section, header {
    padding: 0 30px;
    margin: 0 auto;
  }
  .sticky {
    height: 60px;
  }
  .header {
    margin-top: 0;
    height: 0;
  }
  .header__title {
    font-size: 2.1rem;
    margin-bottom: 20px;
  }
  .header__desc {
    font-size: 1.1rem;
  }
  .sublogo {
    display: none;
  }
  .main-text {
    width: 100%;
    text-align: center;
  }
  .main-text__title {
    font-size: 3.5em;
  }
  .main-text__sub {
    font-size: 2em;
  }
  .main-text__desc {
    display: none;
  }
  .main-text__button {
    margin-top: 20px;
  }
  .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    background: #fff;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
  .nav.open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav__item {
    padding: 1em 0;
  }
  .nav__link {
    color: #000;
    margin: 5px 0;
    font-weight: 900;
    font-size: 3em;
  }
  .nav__link::before {
    background: #000;
  }
  .back-btn {
    display: block;
  }
  .login-container {
    margin-top: 80px;
    padding-right: 15px;
    padding-left: 15px;
    height: 490px;
  }
  .input-wrap__input {
    font-size: 15px;
    padding: 0 23px 0 55px;
  }
  .input-wrap__symbol {
    font-size: 20px;
  }
  .login-form-desc {
    font-size: 12px;
  }
  .card {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .content__desc {
    display: none;
  }
  .profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
  }
}
