@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sarpanch:900');

/* Color */
$main-color : #654EA3;

:root {
    --nav-bg: transparent;
    --logo: #fff;
    --nav-link-color: #fff;
    --nav-link-line: #fff;
    --nav-button: #fff;
}

/* Dark Color */
body.dark-color{
    --nav-bg: #fff;
    --logo: #000;
    --nav-link-color: #000;
    --nav-link-line: #000;
    --nav-button: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    outline: 0;
    border: 0;
}

input {
    outline: none;
    border: none;
}

body::-webkit-scrollbar {
    display: none;
}

::selection { // 드래그
    background-color: $main-color;
    color: #fff;
}

section {
    width: 100%;
    padding: 0 100px;
    margin: 0 auto;
}

/*========== NAV ==========*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    z-index: 1000;
    transition: 0.5s, opacity 0.5s;

    &.sticky {
        background: var(--nav-bg);
    }
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    color: var(--logo);
    cursor: pointer;
    font-size: 23px;
    font-weight: 700;
}

.nav {
    display: flex;
    align-items: center;

    &__link {
        position: relative;
        font-size: .9rem;
        letter-spacing: 0.12rem;
        text-transform: uppercase;
        margin: 0.5em 1em;
        padding-bottom: 1px;
        color: var(--nav-link-color);
        font-weight: 300;
        transition: all .3s ease;

        &::before {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            width: 100%;
            height: 0.5px;
            background: var(--nav-link-line);
            transform: scaleX(0);
            transition: transform 0.5s ease;
        }

        &:hover::before {
            transform: scaleX(1);
        }
    }
}

/* Nave menu button */
.menu-btn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    cursor: pointer;
    z-index: 1;

    &__lines,
    &__lines::after,
    &__lines::before {
        width: 1.5rem;
        height: 0.1rem;
        background-color: var(--nav-button);
        transition: all 0.5s ease-in-out;
    }

    &__lines::after,
    &__lines::before {
        content: "";
        position: absolute;
    }

    &__lines {
        &::before {
            transform: translateY(-0.5rem);
        }

        &::after {
            transform: translateY(0.5rem); 
        }
    }
}

.menu-btn.open .menu-btn__lines{
    transform: translateX(2rem);
    background-color: transparent;

    &::before {
        transform: rotate(45deg) translate(-1.5rem, 1.5rem);
        background-color: #000;
    }

    &::after {
        transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
        background-color: #000;
    }
}

/*========== INDEX ==========*/
.index {
    min-height: 100vh;
    position: relative;
    right: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #111;
    transition: 0.5s;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #00f, #f00);
    mix-blend-mode: overlay;
    opacity: 50%;
}

.main-text {
    position: relative;
    z-index: 10;

    &__title {
        font-size: 6em;
        font-weight: 900;
        color: #fff;
        line-height: 1em;
    }

    &__sub {
        font-size: 4em;
        font-weight: 700;
        color: #fff;
        line-height: 1em;
        text-transform: uppercase;
    }

    &__desc {
        position: relative;
        font-size: 1.1em;
        margin: 20px 0;
        font-weight: 300;
        max-width: 700px;
        color: #fff;
    }

    &__button {
        width: 200px;
        font-size: 14px;
        text-transform: uppercase;
        cursor: pointer;
        margin-top: 10px;
        height: 55px;
        text-align: center;
        background-size: 200% 100%;
        border-radius: 50px;
        transition: all .4s ease-in-out;
        background-image: linear-gradient(to right,  $main-color, #904EA3, #A34E8C, #A34E62);

        &:hover {
            background-position: 100% 0;
            transition: all .4s ease-in-out;
        }

        &:focus {
            outline: none;
        }

        & a {
            color: #fff;
            padding: 10px;
        }
    }
}

.sci {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__icon {
        display: inline-block;
        color: #fff;
        margin-right: 20px;
        font-size: 1.3em;

        &:hover {
            color: $main-color;
            transition: 0.5s;
        }
    }
}

/*========== LOGIN ==========*/

.login {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom, $main-color, #3d88a7);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.login-header {
    position: relative;
    width: 100%;
    padding: 0;
}

.back-btn {
    display: none;
    position: relative;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;

    &::after,
    &::before {
        position: absolute;
        content: "";
        width: 1.5rem;
        height: 0.1rem;
        background-color: #fff;
    }

    &::after {
        transform: rotate(-45deg)scale(0.7, 1);
        top: 5.5px;
    }

    &::before {
        transform: rotate(45deg)scale(0.7, 1);
        bottom: 5.5px;
    }
}

.login-container {
    max-width: 450px;
    background: #fff;
    border-radius: 3px;
    overflow: hidden;
    padding: 70px 50px 30px;
}

.login-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.login-form-title {
    width: 100%;
    font-size: 30px;
    color: #000;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 50px;
}

.input-wrap {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 15px;

    &__input {
        display: block;
        font-size: 18px;
        color: #686868;
        background: #e6e6e6;
        width: 100%;
        height: 62px;
        padding: 0 30px 0 65px;
        border-radius: 3px;
    }

    &__symbol {
        position: absolute;
        font-size: 24px;
        color: #686868;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 23px;
        bottom: 0;
        left: 0;
        pointer-events: none;
        transition: all .4s;
    }

    &__focus {
        display: block;
        position: absolute;
        border-radius: 3px;
        bottom: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 0 0;
        color: rgba(107, 92, 151, 0.6);
    }

    &__input:focus + &__focus {
        animation: anim-shadow 0.5s ease-in-out forwards; // forwards 상태유지
    }

    &__input:focus + &__focus + &__symbol {
        color: $main-color;
        padding-left: 18px;
    }
}
  
  @keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 60px 20px; // x y 블러값 확산값
      opacity: 0; // 없어지게 만들기
    }
  }

.login-form-btn {
    width: 100%;
    height: 62px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    background: $main-color;
    transition: all .4s;

    &:hover {
        cursor: pointer;
        background: #58575c;
    }
}

.login-form-desc {
    width: 100%;
    padding: 30px 0 20px;
    color: #999;
    text-align: center;

    & span {
        border-bottom: 1px solid #999;
    }
}

/*========== 2018 ==========*/
.header {
    position: relative;
    height: 50vh;
    margin-top: 80px;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        font-size: 4em;
        font-weight: 900;
        margin-bottom: 30px;
    }

    &__desc {
        font-size: 1.25rem;
        font-weight: 300;
        text-align: center;
        letter-spacing: 5px;
    }
}

.gallery {
    padding-bottom: 30px;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
}

.card-wrapper {
    position: relative;
    min-height: 300px;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(#000, 0.3), 0 15px 12px rgba(#000, 0.2);
    background-image: var(--image-src);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, transparent, #000);
        opacity: 60%;
    }

    &:hover {
        .card {
            transform: translateY(0);
        }
    }
}

.card {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    z-index: 10;
    transform: translateY(60px);
    transition: transform 0.3s;
}

.content {
    padding: 1em;
    position: relative;
    z-index: 1;

    &__name {
        font-size: 12px;
    }

    &__title {
        margin-top: 10px;
        color: #fff;
        font-weight: 400;
    }
    
    &__desc {
        height: 50px;
        margin-top: 10px;
    }
}

@media screen and (min-width: 768px) {
    .gallery {
        padding-bottom: 100px;
    }

    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .gallery-container {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media screen and (max-width: 768px) {
    section, header {
        padding: 0 30px;
        margin: 0 auto;
    }

    .sticky {
        height: 60px;
    }

    .header {
        margin-top: 0;
        height: 0;
        
        &__title {
            font-size: 2.1rem;
            margin-bottom: 20px;
        }

        &__desc {
            font-size: 1.1rem;
        }
    } 

    .sublogo {
        display: none;
    }

    .main-text {
        width: 100%;
        text-align: center;

        &__title {
            font-size: 3.5em;
        }

        &__sub {
            font-size: 2em;
        }

        &__desc {
            display: none;
        }

        &__button {
            margin-top: 20px;
        }
    }

    .menu-btn {
        display: flex;
    }

    .nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background:#fff;
        transition: 0.3s ease-in-out;
        transform: translateX(100vw);

        &.open {
            transform: translateX(0);
        }

        &__item {
            padding: 1em 0;
        }

        &__link {
            color: #000;
            margin: 5px 0;
            font-weight: 900;
            font-size: 3em;

            &::before {
                background: #000;
            }
        }
    }

    .back-btn {
        display: block;
    }

    .login-container {
        margin-top: 80px;
        padding-right: 15px;
        padding-left: 15px;
        height: 490px;
    }

    .input-wrap__input {
        font-size: 15px;
        padding: 0 23px 0 55px;
    }

    .input-wrap__symbol {
        font-size: 20px;
    }

    .login-form-desc {
        font-size: 12px;
    }

    .card {
        transform: translateY(0);
    }

    .content__desc {
        display: none;
    }
}